<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>SIGN_KEY</param-name>
        <param-value>FICC426l/Y9LZqzQ7/nMEvKWIl3V9L8ywLf+FocZXRxo3/Uz8f0T+BsRS573FyIP</param-value>
    </context-param>

    <filter>
        <filter-name>AuthorizeFilter</filter-name>
        <filter-class>NgocHieu.filter.AuthorizeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>AddPostServlet</servlet-name>
        <servlet-class>Controller.DucAnh.AddPostServlet</servlet-class>
        <multipart-config>
            <!--                                <location>D:\images</location>  -->
            <!-- Đường dẫn tạm thời để lưu trữ các tệp tải lên -->
            <max-file-size>10485760</max-file-size>
            <!-- Kích thước tối đa cho mỗi tệp -->
            <max-request-size>20971520</max-request-size>
            <!-- Kích thước tối đa cho mỗi yêu cầu -->
            <file-size-threshold>0</file-size-threshold>
            <!-- Kích thước tệp tối thiểu để lưu trữ trong bộ nhớ -->
        </multipart-config>
    </servlet>

    <servlet>
        <servlet-name>EditPostServlet</servlet-name>
        <servlet-class>Controller.DucAnh.EditPostServlet</servlet-class>
        <multipart-config>
            <!--                                <location>D:\images</location>  -->
            <!-- Đường dẫn tạm thời để lưu trữ các tệp tải lên -->
            <max-file-size>10485760</max-file-size>
            <!-- Kích thước tối đa cho mỗi tệp -->
            <max-request-size>20971520</max-request-size>
            <!-- Kích thước tối đa cho mỗi yêu cầu -->
            <file-size-threshold>0</file-size-threshold>
            <!-- Kích thước tệp tối thiểu để lưu trữ trong bộ nhớ -->
        </multipart-config>
    </servlet>

    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>NgocHieu.vnpay.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>NgocHieu.vnpay.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>NgocHieu.vnpay.vnpayRefund</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayquery/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayrefund/*</url-pattern>
    </servlet-mapping>
</web-app>
